<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>15</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>http://pabrbullies2022-001-site3.htempurl.com/PFGeneratorInstaller/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0-windows\app.publish\</PublishDir>
    <PublishUrl>D:\Freelance Project\PABR\Published Files\PFGenerator\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-05-24T06:13:57.9562406Z;True|2023-05-21T13:01:38.0280026+08:00;True|2023-05-21T13:01:21.5683854+08:00;True|2023-05-20T17:55:57.7514812+08:00;True|2023-05-06T13:53:04.4233909+08:00;True|2023-04-24T21:30:31.1275438+08:00;True|2023-04-17T22:25:21.4818512+08:00;True|2023-04-11T10:32:46.5177744+08:00;True|2023-03-30T01:03:40.4782193+08:00;True|2023-03-28T18:39:18.0888002+08:00;True|2023-03-22T19:36:09.8356645+08:00;True|2023-03-16T21:39:50.5239052+08:00;True|2023-03-16T17:30:36.3002791+08:00;False|2023-03-16T17:28:55.9427315+08:00;False|2023-03-16T17:28:34.0232354+08:00;True|2023-02-27T18:08:45.3588043+08:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.7.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 7.0.1 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>